body {
  font-family: 'Inter', sans-serif;
  text-align: center; 
  max-width: 850px;
  margin-left: 300px;
}

.navbar {
  text-align: center;
  margin: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

.title {
  font-family: 'Newsreader', serif;
  font-style: italic;
}

.citytab {
  background-color: #77ffd0b2;
}

.workspace-title {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  margin-top: 40px;
}

.workspace-address {
  font-size: 1rem;
  color: #939a92;
  margin-bottom: 10px;
}

.review {
  background-color: #f9ffb6;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-table th, .admin-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.admin-table th {
  background-color: #f2f2f2;
}

h1, h2, h3, p {
  margin-bottom: 15px;
}

button {
  margin-top: 10px;
  margin-right: 10px;
}

.table {
  margin-top: 20px;
}
